.windows {
    // height: 20px;
    padding: 5px 15px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    -webkit-app-region: drag;
    position: relative;
    ::after {
        content: '';
        position: absolute;
        left: 256px;
        height: 100%;
        top: 0;
        width: 1px;
        background: #eee;
    }
    .min-size,.max-size,.close-btn {
        cursor: pointer;
        -webkit-app-region: none;
    }

    .min-size {
        margin-right: 20px;
    }
    .max-size {
        width: 8px;
        height: 8px;
        border: 2px solid #8F959E;
        margin-right: 20px;
    }
}
