body {
    padding: 0;
    margin: 0;
    font-family: PingFangSC-Regular, PingFang SC;
}

.call-content {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 14px;
        color: #666666;
        line-height: 20px;
        height: 36px;
        margin-left: 20px;
        
        -webkit-app-region: drag;
    }

    &__video {
        display: flex;
        align-items: center;
        flex: 1;
        background: #E8F2FF;

        &--empty {
            margin: 0 auto;
            width: 94px;
            height: 88px;
            background-image: url('../../assets/icon/forbiden_video.svg');
        }
    }

    &__footer {
        height: 40px;
        padding: 16px 20px 20px 20px;
        display: flex;
        justify-content: space-between;
    }

    &__footer-btn--control {
        .video {
            display: inline-block;
            width: 36px;
            height: 36px;
            background: url('../../assets/icon/call-video-forbiden.png');
        }

        .voice {
            display: inline-block;
            margin-right: 16px;
            width: 36px;
            height: 36px;
            background: url('../../assets/icon/call-voice.png');
        }
    }

    &__footer-btn--end {
        button {
            height: 36px;
            width: 96px;
            border-radius: 4px;
            cursor: pointer;
            color: #ff4d4f;
            background: #fff;
            border: 1px solid transparent;
            border-color: #ff4d4f;
            outline: 0;

            &:hover {
                color: #ff7875;
                background: #fff;
                border-color: #ff7875;
            }
        }
    }
}