.information{
    width: 100%;
    height: 100vh;
    color: #1c2438;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    .contenter{
        width: 100%;
        background-color: #FFF;
        overflow: hidden;
        color: #303133;
        -webkit-transition: .3s;
        transition: .3s;
        .contenter-body{
            width: 100%;
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            .carder-center {
				width: 70%;

				.main-info {
					display: flex;
					justify-content: space-between;
                    align-items: center;
                    padding-bottom: 8px;
					border-bottom: 1px solid #F2EFEF;
					.circle-name {
						color: #fff;
						width: 70px;
						height: 70px;
						line-height: 70px;
						border-radius: 50%;
						text-align: center;
						background: #5cadff;
					}
				}

				.info-bar {
					margin-top: 20px;

					.info-key {
						color: #9E9E9E;
					}

					.info-val {
						color: #000000;
						margin-left: 20px;
					}
				}
			}
        }
    }
}