.contacter-result {
    height: calc(80vh - 125px);

    &__item {
        display: flex;
        align-items: center;
        padding: 14px 20px;
        border-bottom: 1px solid #eee;

        &--nick-name {
            margin-left: 8px;
        }
    }
}

.search-message-modal {
    .tea-dialog__inner {
        border-radius: 8px;
        padding: 0;
    }
 
}