.result-item {
    display: flex;
    align-items: center;
    padding: 14px 20px;
    width: 100%;
    // justify-content: space-between;
    // border-bottom: 1px solid #eee;
    cursor: pointer;

    &__nick-name {
        margin-left: 8px;
    }
    &__dep-name {
        margin-left: 8px;
    }
    &:hover {
        background-color: #E8F2FF;
    }
}
.result-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}
.result-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10vw;
    &__test{
        font-size: 12px;
        margin-bottom: 6px;
        color: #999;
    }
}