// @function getIcon($name) {
//     @return `../../assets/icon/${$name}.png`
// }

.online {
    background: green;
}

.outline {
    background: red;
}

.home {
    flex: 1;
    overflow:hidden;
    display: flex;
    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        // width: 80px;
        list-style: none;
        // background: #f5f5f5;
        background: #2E2E2E;
        position: relative;
        padding: 20px 5px 0;
        &--item {
            margin-top: 24px;
            position: relative;
            // &:nth-child(2) {
            //     margin-bottom: auto;
            // }
            
            //单独对设置按钮设置样式
            &:last-child {
                position: absolute;
                bottom: 30px;
            }
            .unread {
                position: absolute;
                width: 16px;
                height: 16px;
                background-color: #FF584C;
                right: -6px;
                top: -5px;
                border-radius: 8px;
                font-size: 10px;
                transform: scale(10 / 12);
                transform-origin: left center;
                line-height: 14px;
                text-align: center;
                color: #fff;
            }
        }

        &--link {
            width: 24px;
            height: 24px;
            display: block;

            &.message {
                background: url('../../assets/icon/message.svg');
                &.is-active {
                    background:  url('../../assets/icon/message-active.svg');
                }
            }
            &.organization {
                background: url('../../assets/icon/message.svg');
                &.is-active {
                    background:  url('../../assets/icon/message-active.svg');
                }
            }
            &.contacts {
                background: url('../../assets/icon/contacts.svg');
                &.is-active {
                    background:  url('../../assets/icon/contacts-active.svg');
                }
            }

            &.settings {
                
                background: url('../../assets/icon/settings.svg');
                &.is-active {
                    background:  url('../../assets/icon/settings-active.svg');
                }
            }
            &.calendar {
                
                background: url('../../assets/icon/calendar.svg');
                &.is-active {
                    background:  url('../../assets/icon/calendar-active.svg');
                }
            }
            &.official {
                
                background: url('../../assets/icon/official.svg');
                &.is-active {
                    background:  url('../../assets/icon/official-active.svg');
                }
            }
           
        }
    }
    .content {
        flex: 1;
        overflow:hidden;
    }
    .userinfo-avatar{
        margin-top: 24px;
        position: relative;
        &--panel{
            position: absolute;
            width: 274px;
            height: auto;
            background-color: #fff;
            top: 0;
            right: -294px;
            z-index: 10000;
            border: 1px solid #d1d1d1;
            
            user-select:none;
            .card-content {
                background: #FFF;
                min-width: 250px;
                border-radius: 4px;
                padding: 12px;
                z-index: 2000;
                color: #606266;
                line-height: 1.4;
                text-align: justify;
                font-size: 14px;
                word-break: break-all;
            
                .main-info {
                    display: flex;
                    // justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid #F2EFEF;
                    padding-bottom: 15px;
                    justify-content: space-between;
                    .circle-name {
                        color: #fff;
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        background: #5cadff;
                        margin-right: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                .info-item{
                    display: flex;
                }
                .nickname {
                    overflow: hidden;
                    height: 40px;
                    line-height: 40px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    margin-left: 15px;
                }
            
                .info-bar {
                    display: flex;
                    justify-content: space-between;
                    padding: 0 10px;
            
                    .info-key {
                        color: #9E9E9E;
                        line-height: 40px;
                    }
            
                    .info-val {
                        color: #000000;
                        margin-left: 20px;
                        flex: 1;
                        line-height: 40px;
                        text-align: right;
                    }
                }
            }
        }
    }
}