.menu-content {
    background: #FFFFFF;
    box-shadow: 0px 1px 8px 0px rgba(0, 50, 150, 0.1);
    border-radius: 2px;

    &__item {
        padding: 10px 12px;
        color: #000000;
        line-height: 20px;
        font-size: 14px;

        &:hover {
            background: #E8F2FF;
        }
    }
}