.call-video {
    width: 100%;
    height: 100%;
    background: #E8F2FF;
    overflow: hidden;
    position: relative;

    .c2c-content {
        width: 100%;
        height: 100%;
        background-image: url('../../../assets/icon/forbiden_video.svg');
        background-repeat: no-repeat;
        background-position: center;

        &--self {
            display: none;
            height: 100%;
        }

        &--remote, &--none-video {
            position: absolute;
            width: 160px;
            height: 120px;
            top: 20px;
            right: 40px;
        }
        
        &--none-video {
            z-index: 999;
            background: black;
        }
    }

    .group-video-content {
        width: 100%;
        height: 100%;
        position: relative;

        &:hover {
            .prev-button,  .next-button {
                display: block;
            }
        }
       

        &__page {
            width: 100%;
            height: 100%;
        }

        &__page-item {
            position: relative;
            display: inline-block;
            background-image: url('../../../assets/icon/forbiden_video.svg');
            background-repeat: no-repeat;
            background-position: center;

            span {
                font-size: 14px;
                color: #999;
                position: absolute;
                right: 10px;
                bottom: 10px;
                z-index: 5;
            }
        }

        .prev-button {
            cursor: pointer;
            position: absolute;
            top: 50%;
            left: 20px;
            display: none;
        }

        .next-button {
            cursor: pointer;
            position: absolute;
            top: 50%;
            right: 20px;
            display: none;
        }
    }

}