.call-video {
    width: 100%;
    height: 100%;
    background: #E8F2FF;
    overflow: hidden;
    position: relative;

    .c2c-content {
        width: 100%;
        height: 100%;
        background-image: url('../../../assets/icon/forbiden_video.svg');
        background-repeat: no-repeat;
        background-position: center;

        &--self {
            display: none;
            height: 100%;
        }

        &--remote, &--none-video {
            position: absolute;
            width: 160px;
            height: 120px;
            top: 20px;
            right: 40px;
        }
        
        &--none-video {
            z-index: 999;
            background: black;
        }
    }

}