.tea-calendar, .tea-calendar__body, .tea-calendar__table, .tea-calendar__row-group, .tea-calendar__type-wrap{
  width: 100%;
    height: 100%;
}
.tea-calendar__header-group, .tea-calendar__row {
  width: 100%;
}
.tea-calendar__header-group, .tea-calendar__row {
  width: 100%;
}