.group-member {
  padding: 12px 0;

  &--title {
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;

    &__right {
      font-size: 12px;
      font-weight: 400;
      color: #999999;
    }
  }

  &--avatar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    div {
      margin-right: 12px;
      margin-bottom: 12px;
    }
  }

  &--add {
    width: 36px;
    height: 36px;
    border: 1px solid #999999;
    border-radius: 36px;
    margin-right: 12px;
    margin-bottom: 12px;
  }

  &--delete {
    width: 36px;
    height: 36px;
    border: 1px solid #999999;
    border-radius: 36px;
    margin-right: 12px;
    margin-bottom: 12px;
  }
}
