.message-view {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
    &:hover {
        &::-webkit-scrollbar {
            width:8px;
            background-color:#fff;
        }
        &::-webkit-scrollbar-thumb {
            border-radius:8px;
            box-shadow:inset 0 0 2px rgba(0,0,0,.3);
            background-color:#d1d1d1;
        }
    } 
    &::-webkit-scrollbar {
        width:8px;
        background-color:transparent;
    }
   
    &::-webkit-scrollbar-track {
        background-color:transparent;
    }
    
    &::-webkit-scrollbar-thumb {
        width: 8px;
        background-color:transparent;
    }

    &__item {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        

        &.is-self {
            flex-direction: row-reverse;

            .face-url {
                margin-right: 0;
                margin-left: 8px;
            }

            .text {
                background: #CCE0FE;
            }
        }

        &--avatar {
            margin-left: 0;
            margin-right: 8px;
        }
        &--blank {
            width: 40%;
        }
        &--text {
            display: inline-block;
            padding: 12px;
            font-size: 14px;
            border-radius: 2px 8px 8px 8px;
            background: #ECEEF2;
            vertical-align: middle;
            word-wrap: normal;
            word-break: break-all;
            span {
                display: inline-block;
                vertical-align: middle;
            }
        }
        &--file {
            width: 236px;
            height: 70px;
            background: #FFFFFF;
            border-radius: 2px 8px 8px 8px;
            border: 1px solid #EEEEEE;
            display: flex;
            cursor: pointer;
            &___ext{
                width: 50px;
                height: 70px;
                line-height: 70px;
                text-align: center;
                font-size: 14px;
                font-weight: bold;
                color: #000;
            }
            &___content {
               width: 146px;
               display: flex;
               flex-direction: column;
               justify-content: center;
               &____name {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-weight: 400;
                    color: #000000;
                    line-height: 16px;
                    font-size: 12px;
               }

               &____size {
                    font-weight: 400;
                    color: #999999;
                    line-height: 18px;
                    font-size: 12px;
                }
            }
        }
    }

    .right-menu {
        box-shadow: 0px 1px 8px 0px rgba(0, 50, 150, 0.1);
        border-radius: 2px;
        background: #fff;
    }

    .right-click__item {
        cursor: pointer;
        padding: 10px 20px;
        font-size: 14px;

        &:hover {
            background: #E8F2FF;
        }
    }
}