.message-input {
    height: 100%;
    position: relative;
    .tea-overlay {
        left: 800px;
    }
    .tea-dropdown-btn.tea-dropdown__header{
        padding-left: 0;
    }
    &.disabled-style {
        pointer-events: none;
        opacity: 0.7;
    }

    &.draging-style {
        opacity: 0.7;
        &::after {
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
            border: 1px dashed #666;

        }
    }

    &__feature-area {
        // height: 30px;
        padding-left: 12px;
        padding-top: 12px;
        position: relative;

        &--icon {
            cursor: pointer;
            display: inline-block;
            width: 18px;
            height: 18px;
            margin-right: 28px;

            &.face {
                background-image: url('../../assets/icon/face-message.svg');

                &.is-active {
                    background-image: url('../../assets/icon/face-message-active.svg');
                }
            }

            &.at {
                background-image: url('../../assets/icon/at.svg');
                
                &.is-active {
                    background-image: url('../../assets/icon/at-active.svg');
                }
            }

            &.photo {
                background-image: url('../../assets/icon/photo-message.svg');

                &.is-active {
                    background-image: url('../../assets/icon/photo-message-active.svg');
                }
            }

            &.file {
                background-image: url('../../assets/icon/file-message.svg');

                &.is-active {
                    background-image: url('../../assets/icon/file-message-active.svg');
                }
            }

            &.voice {
                background-image: url('../../assets/icon/voice-message.svg');

                &.is-active {
                    background-image: url('../../assets/icon/voice-message-active.svg');
                }
            }

            &.phone {
                background-image: url('../../assets/icon/phone.svg');

                &.is-active {
                    background-image: url('../../assets/icon/phone-active.svg');
                }
            }
            &.screen-shot {
                background-image: url('../../assets/icon/screen-shot.svg');

                &.is-active {
                    background-image: url('../../assets/icon/screen-shot.svg');
                }
            }
            &.more {
                background-image: url('../../assets/icon/more.svg');
                &.is-active {
                    background-image: url('../../assets/icon/more-active.svg');
                }
            }
        }
    }

    &__text-area {
        height: 100%;

        textarea {
            height: 100%;
            border: none;
        }
        .public-DraftEditor-content{
            div{
                display: inline-block;
            }
        }    
        .public-DraftEditorPlaceholder-root {
           font-size: 14px;
        }
        .bf-controlbar{
            height: 0;
            overflow: hidden;
        }
    }

    &__button-area {
        position: absolute;
        right: 44px;
        bottom: 20px;
        z-index: 1;
    }
    &__down {
        position: absolute;
        right: 20px;
        bottom: 20px;
        z-index: 1;
        // background: url('../../assets/icon/down.svg') center no-repeat;
        // padding: 14px;
        // border: 1px solid #eee;
        // cursor: pointer;
    }
    &__at-popup {
        position: absolute;
        right: 20px;
        bottom: 20px;
    }

    &__emoji-popup {
        position: absolute;
        right: 20px;
        bottom: 20px;
    }
    .chooseImg {

    }
}
// div.bf-content {
//     font-size: 14px;
// }